# CAPSTONE PROJECT

In [38]:
import pandas as pd
import numpy as np

In [39]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

In [40]:
df=pd.read_csv('mydata.csv')

In [41]:
df.head()
df.shape

(288, 3)

## Cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [42]:
df.replace("Not assigned", np.nan, inplace = True)
df.head(5)
df.shape

(288, 3)

In [43]:
df.head()

  Postcode      Borough   Neighbourhood
0      M1A          NaN             NaN
1      M1B  Scarborough           Rouge
2      M1B  Scarborough         Malvern
3      M1C  Scarborough  Highland Creek
4      M1C  Scarborough      Rouge Hill

In [23]:
df.dropna(subset=['Borough'], inplace = True)

In [24]:
df.head()

  Postcode      Borough   Neighbourhood
1      M1B  Scarborough           Rouge
2      M1B  Scarborough         Malvern
3      M1C  Scarborough  Highland Creek
4      M1C  Scarborough      Rouge Hill
5      M1C  Scarborough      Port Union

## If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. So , the value of the Borough and the Neighborhood columns will be same.

In [25]:
df["Neighbourhood"].replace(np.nan,df["Borough"], inplace=True)

In [26]:
dd=df[df["Neighbourhood"]==df["Borough"] ]

In [27]:
dd.head()

    Postcode       Borough Neighbourhood
194      M7A  Queen's Park  Queen's Park

## merging rows wit same postcode and borough

In [31]:
foo = lambda a: ",".join(a)

In [35]:
df1=df.groupby(['Postcode','Borough']).agg({'Neighbourhood': foo}).reset_index()

In [36]:
df1.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

## final shape of data

In [37]:
df1.shape

(103, 3)

# adding geographic coordinates

In [44]:
df2=pd.read_csv('Geospatial_Coordinates.csv')
df2.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [46]:
df2=df2.rename(columns={"Postal Code": "Postcode"})
df2.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [ ]:
df3=pd.merge(df1, df2, how ='inner', on ='Postcode')